<div class="row justify-content-center mb-3">
  <h3>お気に入り穴場リストページ</h3>
</div>
<div class="row">
  <% @favorite_lists.each do |favorite_list| %>
  <div class="col-md-6 col-lg-4 text-center">
    <div>
      <%= link_to post_path(favorite_list.id) do %>
        <%= image_tag favorite_list.get_image, size: "200x200", class: "rounded" %>
      <% end %>
    </div>
    <div class="mb-3">
      <%= favorite_list.title %>
    </div>
  </div>
  <% end %>
</div>
