<div class="row justify-content-center mb-3">
  <div class="col text-center">
    <h5>マイお気に入り穴場リストページ</h5>
  </div>
</div>
<div class="row">
  <% @favorite_lists.each do |favorite_list| %>
  <div class=" col-3 col-md-4 col-lg-4 text-center pl-1 pr-1">
    <div class="card">
      <%= link_to post_path(favorite_list.id) do %>
        <%= image_tag favorite_list.get_image, class: "card-img rounded" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
