<% users.each do |user| %>
  <div class="col mt-3">
    <%= link_to user_path(user.id) do %>
      <%= image_tag user.get_profile_image, size: "100x100", class: "rounded-circle" %><br>
      <%= user.name %>
    <% end %>
  </div>
<% end %>