<% users.each do |user| %>
  <div class="col">
    <%= link_to user_path(user.id) do %>
      <%= image_tag user.get_profile_image, size: "200x200", class: "rounded-circle" %><br>
    <% end %>
    <%= user.name %>
  </div>
<% end %>