<!--トップページ-->
<div class="row mt-3">
  <div class="col-12 text-center">
    <h5>気になるワードで探しに行こう！！</h5>
  </div>
  <div class="col-8 offset-2 mt-3">
    <%= render 'searches/header_form' %>
  </div>
</div>


<div class="row">
  <div class="col text-center">
    <h5><%= link_to 'すべての投稿を見る', posts_path, class: "btn btn-secondary" %></h5>
  </div>
</div>



