<!--トップページ-->
<div class="container">
  <div class="row">
    <h3>人気のエリア</h3>
  </div>
  <div class="row mt-2">
    <% @prefectures.each do |prefecture|%>
      <div class="col">
        <%= link_to prefecture_path(prefecture.id) do %>
          <%= prefecture.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'searches/side_form' %>

</div>

