<!--エリア詳細ページ-->
<div class="container">
  <div class="row justify-content-center">
    <h2><%= @area.name %>エリアの投稿一覧</h2>
  </div>
  <%= render 'common/show', categories: @categories, obj: @area, posts: @posts %>
</div>