@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.side_area_select {
  display: none;
}
.main_area_select {
  display: none;
}
.side_form {
  postion: -webkit-sticky;
  position: sticky;
  top: 0;
}