@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
 min-height: 70vh;
}

.side_area_select {
  display: none;
}
.main_area_select {
  display: none;
}
.side_form {
  postion: -webkit-sticky;
  position: sticky;
  top: 0;
}

.card {
  font-size: 90%;
}

.card-header {
  background-color: lightblue;
  color: white;
}

.card-footer {
  background-color: lightblue;
  color: white;
}

.favorite {
  color: white;
}