@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
 min-height: 70vh;
 position:  relative;
}

.user-icon {
  position:  absolute;
  top: 10px;
  right: 10px;
}

.succes {
  background-color: #33ff66;
  color: white;
}

.danger {
  background-color: #ff0033;
  color: white;
}

.side_area_select {
  display: none;
}
.main_area_select {
  display: none;
}
.side_form {
  postion: -webkit-sticky;
  position: sticky;
  top: 0;
}

.card {
  font-size: 90%;
  background-color: #efefef;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.card-header {
  background-color: #00afcc;
  color: white;
}

.card-body {
  background-color: #efefef;
}

.list-group-item {
  background-color: #efefef;
}

.card-footer {
  background-color: #00afcc;
  color: white;
}

.favorite {
  color: white;
}

.comment-textarea {
  background-color: #efefef;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.only-post-img {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.user-img {
  border: 2px solid;
  border-color: white;
}

.biguser-img {
  border: 5px solid;
  // border-left: 5px solid;
  border-color: #808080;
}

.user-card {
  border-top: 5px solid;
  border-left: 5px solid;
  // border-style: inset;
  border-color: #808080;
}

.common-box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.common-btn {
  border-radius: 30px;
  height: 30px;
  background-color: #00afcc;
  padding: 3px 10px 0px 10px;
}