<!--投稿一覧ページ-->
<div class="row justify-content-center mt-3">
  <div class="col-11 text-center">
    <h3>すべての投稿</h3>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <%= render'index', posts: @posts %>
</div>
