<!--投稿一覧ページ-->
<div class="row justify-content-center mt-3">
  <div class="col-11 text-center">
    <h3>すべての投稿</h3>
  </div>
</div>
<!--並び替え-->
<div class="row justify-content-center">
  <div class="col-11 text-center">
    <%= render 'orders/select' %>
  </div>
</div>
<div class="row justify-content-center mt-3 orders">
  <%= render'index', posts: @posts %>
</div>
