<footer class="border-top border-dark mt-5">
  <div class="container mt-3">
    <div class="row d-flex justify-content-center">
      <div>
        <%= image_tag 'logo_transparent.png', :size => '45x45' %>
      </div>
      <div class="mx-3 pt-1">
        <p>CopyRight AnabaList.com</p>
      </div>
      <div>
        <%= image_tag 'logo_transparent.png', :size => '45x45' %>
      </div>
    </div>
  </div>
</footer>